<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/head :: head(博客列表)"></head>
<body class="">
<div class="page">
    <div class="flex-fill">
        <div th:replace="public/menu :: topbar"></div>
        <div th:replace="public/menu :: menu(1)"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">已发布</h3>
                            <div class="alert alert-success col-login float-right" style="position:absolute;zIndex:-1;right: 50px;display: none" role="alert"  id="alert-success">
                                修改成功
                                <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
                            </div>
                            <div class="alert alert-error col-login float-right" style="position:absolute;zIndex:-1;right: 50px;display: none" role="alert"  id="alert-fail">
                                修改失败，请稍后重试
                                <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th class="w-1">ID</th>
                                    <th>标题</th>
                                    <th>发表时间</th>
                                    <th>访问人数</th>
                                    <th>收藏人数</th>
                                    <th>点赞人数</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="aritcle : ${articleList}">
                                    <td><span class="text-muted" th:text="${aritcle.id}">001401</span></td>
                                    <td>
                                        <a href="javascript:void(0)" class="text-inherit" th:text="${aritcle.title}">
                                            Java设计模式
                                        </a>
                                        <span class="badge bg-red" th:if="${aritcle.top}">置顶</span>
                                    </td>
                                    <td th:text="${#dates.format(aritcle.createTime, 'yyyy-MM-dd')}">
                                        2020-02-29
                                    </td>
                                    <td th:text="${aritcle.viewCount}"></td>
                                    <td th:text="${aritcle.collectNum}"></td>
                                    <td th:text="${aritcle.thumbUpCount}"></td>
                                    <td th:if="${aritcle.state} == 1">
                                        <span class="status-icon bg-lime"></span> 公开
                                    </td>
                                    <td th:if="${aritcle.state} == 2">
                                        <span class="status-icon bg-warning"></span> 保密
                                    </td>
                                    <td>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                        <a class="icon" href="javascript:void(0)">
                                            <i class="fe fe-trash-2"></i>
                                        </a>
                                        <span class="dropdown ml-1">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle align-text-top" data-boundary="viewport" data-toggle="dropdown">更多</button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                              <a class="dropdown-item" href="#">
                                                添加到专栏
                                              </a>
                                              <a class="dropdown-item" href="#" th:text="${aritcle.top} ? '取消置顶':'设为置顶'"
                                                 th:attr="articleId=${aritcle.id},top=${!aritcle.top}" onclick="changeTop(this)">
                                                设置为置顶
                                              </a>
                                            </div>
                                          </span>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="card-body">
                            <ul class="pagination center float-right">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" class="icon">
                                            <polyline points="15 18 9 12 15 6"></polyline>
                                        </svg>
                                        prev
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        next
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" class="icon">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/dashboard :: footer"></div>
</div>
<script>
    function changeTop(ele) {
        $.ajax({
            type: "post",
            url: "/admin/article/top",
            data: {
                "articleId": $(ele).attr("articleId"),
                "top":$(ele).attr("top")
            },
            success: function (data) {
                if (data.code == 200) {
                    $("#alert-success").fadeIn();
                    setTimeout(function() {
                        $("#alert-success").fadeOut();
                        window.location.reload();
                    }, 1000);
                } else {
                    $("#alert-fail").fadeIn();
                    setTimeout(function () {
                        $("#alert-fail").fadeOut();
                    }, 800);
                }
            },
            error: function (data) {
                $("#alert-fail").fadeIn();
            }
        })
    }
</script>
</body>
</html>
