<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header toggle d-xl-none" th:fragment="flexTopbar(flag)" style="padding: 0">
    <div class="container">
        <div class="d-flex">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="../user/index.html" class="nav-link" th:href="@{/}" th:classappend="${flag == 0} ? 'active' : ''">
                        <i class="fe fe-home"></i>
                        首页
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" th:href="@{/column}" th:classappend="${flag == 1} ? 'active' : ''">
                        <i class="fe fe-folder"></i>
                        专栏
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../user/archive.html" class="nav-link" th:href="@{/view}" th:classappend="${flag == 2} ? 'active' : ''">
                        <i class="fe fe-user"></i>
                        我的
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" th:classappend="${flag == 3} ? 'active' : ''">
                        <i class="fe fe-message-circle"></i>
                        关于
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="collapse"
                       data-target="#headerMenuCollapse"  th:classappend="${flag == 4} ? 'active' : ''">
                        <i class="fe fe-search"></i>
                        搜索
                    </a>
                </li>
            </ul>
        </div>
        <div class="ml-auto collapse" id="headerMenuCollapse">
            <form class="input-icon my-3 my-lg-0" action="../user/article/search.html" th:action="@{/search}">
                <input type="search" class="form-control header-search"
                       placeholder="搜索&hellip;"
                       tabindex="1" name="key">
                <div class="input-icon-addon">
                    <i class="fe fe-search"></i>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card collapse d-lg-flex" th:fragment="topbar(flag)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0" action="../user/article/search.html" th:action="@{/search}">
                    <input type="search" class="form-control header-search"
                           placeholder="Search&hellip;"
                           tabindex="1" name="key">
                    <div class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </div>
                </form>
            </div>
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="../user/index.html" class="nav-link" th:href="@{/}" th:classappend="${flag == 0} ? 'active' : ''">
                            <i class="fe fe-home"></i>
                            首页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" th:href="@{/column}" th:classappend="${flag == 1} ? 'active' : ''">
                            <i class="fe fe-folder"></i>
                            专栏
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../user/archive.html" class="nav-link" th:href="@{/view}" th:classappend="${flag == 2} ? 'active' : ''">
                            <i class="fe fe-user"></i>
                            我的
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>