<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/head :: head(${data.errorMessage})"></head>
<body class="">
<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i>[[${data.errorCode}]]</div>
            <h1 class="h2 mb-3">[[${data.errorMessage}]]</h1>
            <a class="btn btn-primary" href="javascript:history.back()">
                <i class="fe fe-arrow-left mr-2"></i>返回
            </a>
        </div>
    </div>
</div>
</body>
</html>